.cache
.coverage
.idea/
.installed.cfg
.project
.pydevproject
.ropeproject
.tox/
.vscode/
__pycache__/
*.egg
*.egg-info/
*.log
*.mo
*.pot
*.py[cod]
*.pyd
*.pyo
*.pyp
*.pyw
*.pyz
*.pzx
*.pzp
*.pzs
*.pzt
*.pzu
*.so
bin/
build/
coverage.xml
develop-eggs/
dist/
docs/_build/
eggs/
lib/
lib64/
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
var/
