app==0.0.1
awscli==1.35.17
bcrypt==4.2.0
blinker==1.8.2
boto3==1.35.51
botocore==1.35.51
cachelib==0.13.0
click==8.1.7
colorama==0.4.6
docutils==0.16
Flask==3.0.3
Flask-QRcode==3.2.0
Flask-Session==0.8.0
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
MarkupSafe==3.0.2
msgspec==0.18.6
pillow==11.0.0
pyasn1==0.6.1
python-dateutil==2.9.0.post0
PyYAML==6.0.2
qrcode==8.0
rsa==4.7.2
s3transfer==0.10.3
six==1.16.0
urllib3>=1.25.4,<1.27
Werkzeug==3.0.6
