*{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#main-nav{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5em;
    margin: 0.5em;
    width: 15em;
    border-radius: 15%;
}

#content{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5em;
    margin: 0.5em;
    width: 35%;
    text-align: center;
    border-radius: 15%;
}

body {
    background: linear-gradient(45deg, rgba(68, 68, 68, 0.75) 0%, rgba(192, 0, 0, 0) 80%), url("/static/images/mainbackground-crowd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0.5em;
    height: 100vh;
    opacity: 1;
}

button {
    color: black;
}

input {
    color: black;
}
