<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Event Management System - Admin Page</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='templates.css') }}">
    </head>
    <body>
        <header>
            <h1>Welcome to the Admin Page</h1>
        </header>
    </body>
    <footer>
        <p>&copy; 2024 Event Management System. All rights reserved.</p>
    </footer>
</html>